@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap' 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap' 'https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap' 'https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap')




html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;

  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    /* font-family: "Roboto", sans-serif; */
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
  }
/* .wrapper {
margin: 0;
  padding: 0;
} */
  .header {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #efefef;
    
    /* opacity: 0.5; */
    /* color: black;
    background-color: hotpink;
    transition: background-color 0.3s ease; */

    
  }
  
  

  .logo {
    width: 40%;
    background-color: rgb(240, 244, 245);
    /* opacity: 0.5; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Great Vibes", cursive;
    letter-spacing: 6px;
  }
  .logo img {
    width: 40px;
    position: relative;
    top: 8px;
  }

  
  
  .menu {
    width: 60%;
    height: 60px;
    background-color: rgb(240, 244, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
    
}
.menu ul li {
    margin: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    text-transform: capitalize;
    display: block;
    
}
/* .menu ul:hover {
    color: rgb(111, 0, 255);
} */

  .menu ul li a{
    text-decoration: none;
    color: rgb(53, 52, 52);
    list-style: none;
    
  }
  .menu ul li a:hover {
    color: red;
  }
  .menu a.active {
    color: red; /* Aktif menü öğesinin rengini değiştirir */
}
  .section-1 {
    width: 100%;
    height: 600px;
    position: relative;
    top: 10px;
    
  }
  
  .section-1 .img1 {
    width: 1349px;
    height: 600px;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    top: 50px;
    z-index: 1;
    
  }
  .section-1 .img2 {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 830px;
    top: 140px;
    z-index: 2;
  }
  .section-1 .text-box {
    width: 380px;
    height: 380px;
    position: absolute;
    left: 950px;
    top: 250px;
    z-index: 3;
    color: rgb(53, 52, 52);
    line-height: 10px;
  }
  .section-1 .text-box h3{
    font-family: "Dancing Script", cursive;
    font-size: 36px;
    font-weight:bolder;
    letter-spacing:5px;
  }
  .section-1 .text-box p{
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    font-weight:bolder;
    letter-spacing:5px;
  }
  .border {
    width: 100%;
    margin-top: 50px;
    
  }
  .border1 {
    width: 400px;
    margin: auto;
    
    /* display: block; */
    
  }
  .border1 img {
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
  }
  .border2 {
    width: 400px;
    /* max-width: 100%;
    max-height: 100%; */
    position: relative;
    top: 50%;
    left: 50%;
  }
  .border2 h3 {
    /* width: 30%; */
    /* background-color: cadetblue; */
    color: red;
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    font-weight:bolder;
    letter-spacing:1px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .border3 {
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    }
    
  .border3 img {
    width: 100%;
    }
    

  /* section-2 */
  .section-2 {
    display: flex;
    width: 100%;
    height: 600px;
    position: relative;
    
  }
  .section-2 .section-left .img1 {
    width: 276px;
    height: 280px;
    /* height: 540px; */
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 264px;
    top: 90px;
    z-index: 1;
    
  }
  .section-2 .section-left .img2 {
    width: 360px;
    height: 360px;
    position: absolute;
    right: 380px;
    top: 40px;
    z-index: 2;
  }
  .section-2 .section-left .text-box {
    
    width: 300px;
    height: 300px;
    position: relative;
    left: 250px;
    top: 400px;
    z-index: 3;
    color: rgb(53, 52, 52);
    line-height: 10px;
  }
  .section-2 .section-left .text-box h3{
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 36px;
    font-weight:bolder;
    letter-spacing:5px;
  }
  .section-2 .section-left .text-box p{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-weight:normal;
    letter-spacing:1px;
    line-height: 100%;
  }
  /* right */
  .section-2 .section-right .img1 {
    width: 276px;
    height: 280px;
    /* height: 540px; */
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 800px;
    top: 90px;
    z-index: 1;
    
    
  }
  .section-2 .section-right .img2 {
    width: 360px;
    height: 360px;
    position: absolute;
    left: 758px;
    top: 40px;
    z-index: 2;
  }
  .section-2 .section-right .text-box {
    
    width: 300px;
    height: 300px;
    position: relative;
    left: 490px;
    top: 400px;
    z-index: 3;
    color: rgb(53, 52, 52);
    line-height: 10px;
  }
  .section-2 .section-right .text-box h3{
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 36px;
    font-weight:bolder;
    letter-spacing:5px;
  }
  .section-2 .section-right .text-box p{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-weight:normal;
    letter-spacing:1px;
    line-height: 100%;
  }
  .section-space {
    width: 100%;
    height: 180px;
    
  }
  .section-space img{
    width: 1349px;
    height: 230px;
    object-fit: cover;
    background-size: cover;
    /* background-color: #efefef; */
  }
  
  /* section-3 */
  .black {
    width: 1349px;
    background-color: #efefef;
    /* position: relative; */
    /* bottom: 20px; */
  }
  .black .border {
    position: relative;
    right: 200px;
  }
  .border-plus {
    width: 1349px;
    height: 200px;
    background-color: #efefef;
    position: relative;
    top: 50px;
    
  }
  .border-plus .border {
    width: 1349px;
    position: relative;
    right: 200px;
  }
.section-3 {
  width: 1349px;
  height: 380px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

  .section-3-up {
    background-color: white;
    width: 86%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 86%; */
    /* background-color: cadetblue; */
    
  }
  .section-3 .left {
    /* width: 50%; */
    /* background-color: coral; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-3 img {
    width: 580px;
    height: 380px;
    position: relative;
    left: 0px;

  } 

  .section-3 .right {
    margin-top: 20px;
    width: 620px;
    height: 380px;
    position: relative;
    right: 0px;
    bottom: 10px;
    border: 1px solid #dddddd;
    box-shadow: 12px 0px 14px -11px #7b7b7b;
    /* background-color: burlywood; */
    
  }
  .section-3 .right h3 {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    color:crimson;
    position: relative;
    top: 10px;
    left: 25px;
  }
  .section-3 .right h4 {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border-style:none;
    background-color: rgb(236, 174, 92);
    text-align: center;
    color: rgb(59, 57, 57);
    position: relative;
    bottom: 15px;
    left: 25px;
  }
  .section-3 .right p{
    width: 79%;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-size: 15px;
    font-weight:normal;
    letter-spacing:1px;
    position: relative;
    bottom: 15px;
    left: 25px;
    
  }
  
  /* 4 */
  .section-4 {
    width: 1349px;
    height: 380px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-4 .section-3-up {
      width: 86%;
      height: 380px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* width: 86%; */
      /* background-color: cadetblue; */
      
    }
    .section-4 .right {
      /* width: 50%; */
      /* background-color: coral; */
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .section-4 img {
      width: 580px;
      height: 380px;
      position: relative;
      
    } 
    .section-4 .left {
      margin-top: 20px;
      width: 620px;
      height: 380px;
      position: relative;
      right: 0px;
      bottom: 10px;
      border: 1px solid #dddddd;
      box-shadow: -11px 0px 14px -11px #7b7b7b;
      /* background-color: burlywood; */
      
    }
    .section-4 .left h3 {
      font-family: "Dancing Script", cursive;
      font-size: 40px;
      color:crimson;
      position: relative;
      top: 10px;
      left: 25px;
    }
    .section-4 .left h4 {
      width: 100px;
      padding: 10px;
      border-radius: 5px;
      border-style:none;
      background-color: rgb(138, 200, 241);
      text-align: center;
      color: rgb(59, 57, 57);
      position: relative;
      bottom: 15px;
      left: 25px;
    }
    .section-4 .left p{
      width: 79%;
      /* font-family:Arial, Helvetica, sans-serif; */
      font-size: 15px;
      font-weight:normal;
      letter-spacing:1px;
      position: relative;
      bottom: 15px;
      left: 25px;
      
    }
/* 5 */
.section-5 {
  width: 1349px;
  height: 380px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-5 .section-3-up {
    width: 86%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 86%; */
    /* background-color: cadetblue; */
    
  }
  .section-5 .left {
    /* width: 50%; */
    width: 620px;
    height: 380px;
    /* background-color: coral; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd;
    background-image: url(img/section3/lightpaperfibers.png);
  }
  .section-5 img {
    width: 274px;
    height: 176px;
    position: relative;
    left: 9px;
    top: 4px;
    margin: 2px;
    

  } 

  .section-5 .right {
    margin-top: 20px;
    width: 620px;
    height: 380px;
    position: relative;
    right: 0px;
    bottom: 10px;
    border: 1px solid #dddddd;
    box-shadow: 12px 0px 14px -11px #7b7b7b;
    /* background-color: burlywood; */
    
  }
  .section-5 .right h3 {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    color:crimson;
    position: relative;
    top: 10px;
    left: 25px;
  }
  .section-5 .right h4 {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border-style:none;
    background-color: rgb(159, 245, 126);
    text-align: center;
    color: rgb(59, 57, 57);
    position: relative;
    bottom: 15px;
    left: 25px;
  }
  .section-5 .right p{
    width: 79%;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-size: 15px;
    font-weight:normal;
    letter-spacing:1px;
    position: relative;
    bottom: 15px;
    left: 25px;
    
  }
  /* 6 */
  .section-6 {
    width: 1349px;
    height: 480px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
  }
  
  .section-6 .section-3-up {
      background-color: #efefef;
      width: 86%;
      height: 380px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* width: 86%; */
      /* background-color: cadetblue; */
      
    }
    .section-6 .right {
      width: 580px;
      height: 380px;
      /* background-color: coral; */
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: white;
    }
    .section-6 .img1 {
      width: 580px;
      height: 380px;
      position: absolute;
    } 
    .section-6 .img2 {
      width: 80px;
      height: 80px;
      position: absolute;
    } 
  
    .section-6 .left {
      margin-top: 20px;
      width: 580px;
      height: 380px;
      position: relative;
      /* right: 0px; */
      bottom: 10px;
      border: 1px solid #dddddd;
      box-shadow: -11px 0px 14px -11px #7b7b7b;
      background-color: white;
      
    }
    .section-6 .left h3 {
      font-family: "Dancing Script", cursive;
      font-size: 40px;
      color:crimson;
      position: relative;
      top: 10px;
      left: 25px;
    }
    .section-6 .left h4 {
      width: 100px;
      padding: 10px;
      border-radius: 5px;
      border-style:none;
      background-color: rgb(245, 103, 122);
      text-align: center;
      color: rgb(59, 57, 57);
      position: relative;
      bottom: 15px;
      left: 25px;
    }
    .section-6 .left p{
      width: 79%;
      /* font-family:Arial, Helvetica, sans-serif; */
      font-size: 15px;
      font-weight:normal;
      letter-spacing:1px;
      position: relative;
      bottom: 15px;
      left: 25px;
      
    }
    /* section-7 */
    .section-7 {
      width: 1349px;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 60px;
      margin-bottom: 100px;
    }
    .section-7 .left {
      width: 320px;
      height: 480px;
      border: 1px solid #dddddd;
      box-shadow: 1px 14px 14px -11px #7b7b7b;
      /* display: flex; */
      /* align-items: center; */
      justify-content: center;
    }
    .section-7 .left img {
      width: 320px;
      height: 200px;
    }
    .section-7 .center {
      width: 320px;
      height: 480px;
      border: 1px solid #dddddd;
      box-shadow: 1px 14px 14px -11px #7b7b7b;
      /* display: flex; */
      /* align-items: center; */
      justify-content: center;
    }
    .section-7 .center img {
      width: 320px;
      height: 200px;
    }
    .section-7 .right {
      width: 320px;
      height: 480px;
      border: 1px solid #dddddd;
      box-shadow: 1px 14px 14px -11px #7b7b7b;
      /* display: flex; */
      /* align-items: center; */
      justify-content: center;
    }
    
    .section-7 .left:hover {
      box-shadow: 10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sağa gölge */
      -10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sola gölge */
      0 10px 15px -3px rgba(0, 0, 0, 0.1); /* Alta gölge */
    }
    .section-7 .center:hover {
      box-shadow: 10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sağa gölge */
      -10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sola gölge */
      0 10px 15px -3px rgba(0, 0, 0, 0.1); /* Alta gölge */
    }
    .section-7 .right:hover {
      box-shadow: 10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sağa gölge */
      -10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sola gölge */
      0 10px 15px -3px rgba(0, 0, 0, 0.1); /* Alta gölge */
    }




    .section-7 .right img {
      width: 320px;
      height: 200px;
    }
    .section-7 .text {
      text-align: center;
      
    }
    .section-7 .text h2 {
      font-family: "Dancing Script", cursive;
      color: red;
      font-size: 35px;
      margin-top: 5px;
    }
    .section-7 .text .p1 {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .section-7 .text .p2 {
      width: 60%;
      padding: 12px;
      font-size: 14px;
      border-radius: 5px;
      border-style:none;
      background-color: rgb(236, 230, 230);
      line-height: 25px;
      margin: auto;
    }
    /* section-8 */
    .container {
      background-color: #efefef;
    }
    
    .section-8 {
      width: 1349px;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      margin-top: -60px;
      background-color: #efefef;
    }
    
    .section-8 .left {
      width: 260px;
      height: 360px;
      /* border: 1px solid #dddddd; */
      /* box-shadow: 1px 14px 14px -11px #7b7b7b; */
      /* display: flex; */
      /* align-items: center; */
      justify-content: center;
      background-color: white;
    }
    .section-8 .left:hover {
      box-shadow: 10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sağa gölge */
      -10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sola gölge */
      0 10px 15px -3px rgba(0, 0, 0, 0.1); /* Alta gölge */
    }
    .section-9 .left:hover {
      box-shadow: 10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sağa gölge */
      -10px 0 15px -3px rgba(0, 0, 0, 0.1), /* Sola gölge */
      0 10px 15px -3px rgba(0, 0, 0, 0.1); /* Alta gölge */
    }

    .section-8 .left img {
      width: 260px;
      height: 220px;
    }
    .section-8 .text h2 {
      font-family: "Dancing Script", cursive;
      color: red;
      font-size: 35px;
      margin-top: 15px;
      text-align: center;
    }
    .section-8 .text p {
      font-size: 25px;
      text-align: center;
      margin-top: -20px;
    }
    .content {
      position: relative;
      left: 130px;
      top: 60px;
      
    }
    .content h2 {
      font-family: "Dancing Script", cursive;
      font-weight:bolder;
      font-size: 36px;
      color: rgb(82, 81, 81);
      letter-spacing: 2px;
    }
    /* section-9 */
    .content2 {
      position: relative;
      bottom: 40px;
      left: 130px;
      
    }
    .content2 h2 {
      font-family: "Dancing Script", cursive;
      font-weight:bolder;
      font-size: 36px;
      color: rgb(82, 81, 81);
      letter-spacing: 2px;
    }
    .section-9 {
      width: 1349px;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      margin-top: -110px;
      background-color: #efefef;
    }
    
    .section-9 .left {
      width: 260px;
      height: 360px;
      /* border: 1px solid #dddddd; */
      /* box-shadow: 1px 14px 14px -11px #7b7b7b; */
      /* display: flex; */
      /* align-items: center; */
      justify-content: center;
      background-color: white;
    }
    .section-9 .left img {
      width: 260px;
      height: 220px;
    }
    .section-9 .text h2 {
      font-family: "Dancing Script", cursive;
      color: red;
      font-size: 35px;
      margin-top: 15px;
      text-align: center;
    }
    .section-9 .text p {
      font-size: 25px;
      text-align: center;
      margin-top: -20px;
    }
    /* section-10 */
    .section-10 {
      width: 1349px;
      /* position: relative;
      top: 50px; */
      margin-top: 30px;
      
      
    }
    .section-10 img {
      width: 280px;
      position: relative;
      left: 106px;
      transition: .5s;
        }
   
    .section-10 img:hover {
     
      transform: scale(1.2);
      z-index: 4;
      box-shadow: 2px 2px 2px 2px #383737;
    }
    /* section-11 */
    .section-11 {
      width: 1349px;
      background-color: #efefef;
      height: 700px;
      margin-bottom: -70px;
    }
    .section-11 .border{
    width: 100%;
    
    }
    .section-11 .border2 h3{
      position: relative;
      right: 200px;
    }
    .section-11 .border3 {
      width: 200px;
      position: relative;
      left: 560px;
      bottom: 30px;
    }
    .form {
      /* background-color: darkgoldenrod; */
      width: 60%;
      text-align: center;
      margin: auto;
      color: white;
    }
    .form input {
      width: 310px;
      padding: 12px;
      margin-right: 30px;
      margin-left: 30px;
      background-color: #9c9a9a;
      color: white;
      border-style: none;
      
      
    }
    input::placeholder {
      color: white;
      font-size: 14px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
  }
  .form textarea {
      background-color: #9c9a9a;
      border-style: none;
      color: white;
      font-size: 14px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
  }
  textarea::placeholder {
    color: white;
    font-size: 14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 9px;
  width: 85px;
  border-radius: 5px;
  font-size: 16px;
  color:white;
  background-color: rgb(252, 65, 65);
  border-style: none;
  margin-top: 12px;
  cursor: pointer;
  list-style: none;
  
}
button:active {
  background-color: blue; /* Butona basıldığında arka plan rengini kırmızı yapar */
}
.btn{
  text-decoration: none;
  list-style: none;
}
.section-12 {
  width: 1349px;
  height: 500px;
  margin-top: 70px;
  position: relative;
} 
.section-12 img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  filter: brightness(40%);
}
.section-12 h1 {
  position: absolute;
  bottom: 200px;
  right: 500px;
  z-index: 2;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  color: white;
  text-transform: capitalize;
  }
  .section-12 h3 {
    position: absolute;
    bottom: 190px;
    right: 555px;
    z-index: 2;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    }
    .section-12 .border3 img {
      width: 140px;
      height: 50px;
      position: absolute;
      z-index:2;
      top: 60px;
      right: 330px;
      filter: brightness(100%);
      
    }
    .section-12 h4 {
      position: absolute;
      bottom: -40px;
      right: 580px;
      z-index: 2;
      font-family: "Dancing Script", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 35px;
      color: white;
      text-transform: capitalize;
      }
      .section-12 p {
        position: absolute;
        bottom: -55px;
        right: 620px;
        z-index: 2;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: white;
        text-transform: capitalize;
        }




